<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../reset.css" rel="stylesheet" />
    <link href="../global.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/"><img src="../img/signiture.svg" /></a>
        <ul class="header__menu">
          {{if {{user}} == null then
          <li class="header__menu__item">
            <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
          </li>
          <li class="header__menu__item">
            <a class="btn btn_ghost btn_size_s" href="/registration">
              회원 가입
            </a>
          </li>
          else
          <li class="header__menu__item">
            <div>사용자 이름 : {{name}}</div>
            <a class="btn btn_contained btn_size_s" href="/user/list">리스트</a>
            <form action="/logout" method="post">
              <button type = "submit">로그아웃</button>
            </form>
          </li>
          }}
        </ul>
      </header>
      <div class="page">
        <h2 class="page-title">{{title}}</h2>
        <h3>작성자 : {{writer}}</h3>
        {{if {{path}} != null then
        <img src="{{path}}"/>
          else
        }}
        <p>
          {{content}}
        </p>
      </div>
    </div>
  </body>
</html>
