<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/reset.css" rel="stylesheet"/>
    <link href="/global.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="/"><img src="./img/signiture.svg"/></a>
        <ul class="header__menu">
            {% if user %}
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/user/list">{{ user.name }}</a>
            </li>
            <li class="header__menu__item" id="logout">
                <form id="logoutForm" action="/logout" method="POST">
                    <button type="submit" class="btn btn_ghost btn_size_s">로그 아웃</button>
                </form>
            </li>
            {% endif %}
            {% if !user %}
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
            </li>
            <li class="header__menu__item">
                <a class="btn btn_ghost btn_size_s" href="/registration">
                    회원 가입
                </a>
            </li>
            {% endif %}
        </ul>
    </header>
    <div class="wrapper">
        {% for post in posts %}
        <div class="post">
            <a href="/post/detail?postId={{ post.id }}"> {{ post.title }} </a>
        </div>
        {% endfor %}
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__menu__item">
                    <a class="btn btn_ghost btn_size_m" href="/post/write">글쓰기</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
