<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/reset.css" rel="stylesheet" />
    <link href="/static/css/global.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="/"><img src="/static/img/signiture.svg" /></a>
        <ul class="header__menu">
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/user/login">로그인</a>
            </li>
            <li class="header__menu__item">
                <a class="btn btn_ghost btn_size_s" href="/user/registration">
                    회원 가입
                </a>
            </li>
        </ul>
    </header>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1, Cell 1</td>
            <td>Row 1, Cell 2</td>
        </tr>
        <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
        </tr>
        <tr>
            <td>Row 3, Cell 1</td>
            <td>Row 3, Cell 2</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
